* {
  font-family: "Corbel";
}

legend {
  border: 1px solid black;
  border-radius: 5px;
}

fieldset {
  border-radius: 5px;
}

#character-info {
  display: flex;
  flex-direction: row;
  height: 225px;
}

.character-display-info {
}

.char-info-module {
  height: 200px;
  width: 200px;
}

.monster {
  display: inline-block;
  width: 225px;
}

.attack-monster-one,
.attack-monster-two,
.spell2-monster-one,
.spell2-monster-two,
.spell1-heal {
  width: 200px;
  border-radius: 5px;
}

#monster-info {
  height: 300px;
}

h4 {
  margin: 0px 10px 0px 0px;
}

.no-spell {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.monster1-dead {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.spell1-heal-used {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.pauseThreeFive {
  background-color: grey;
  border-radius: 5px;
}
