:root {
  --background: #000532;
  --bg-200: #0f1842;
  --bg-300: #2a2e5c;
  --primary: #0D6E6E;
  --primary-200: #4a9d9c;
  --tertiary: #6b0504;
  --tertiary-200: #ff9983;

  /*button select*/
  --primary-300: #afffff;
  --accent-orange: #f18701;
  --accent-orange-200: #822d00;
  --accent-green: #0d6e6e;
  --accent-green-200: #afffff;
  --text: #8282a8;
  --text-200: #e0e0e0;
  --accent-200: #822d00;
  --btn-hover: azure;
  --btn-bg: #72FF7C;
  --btn-text: #0D6E6E;

  /*hit-points guage*/
  --strokeDashArray: 240;
  --strokeDashArrayBackground: 240;
  --strokeDashOffset: 90;
  --strokeDashOffsetBackground: 0;
  --imageRotate: 132deg;
}


* {
  font-family: "VT323";
  cursor: url('../images/gui/cursor.png'), auto;
}

body {
  background-color: var(--background);
  margin: 0px 0px 0px 0px;
  /* width: 1400px; */
  height: 1400px;
  /* padding: 0px 10px 0px 10px; */
  display: flex;
  color: var(--text);
  font-size: 22px;
  cursor: url(''), auto;
}


label {
  cursor: url('../images/gui/cursor.png'), auto;
}

input,
button {
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

#footer {
  border: 1px solid black;
  /* height: 50px;
  width: 800px; */
  /* margin: auto; */
}

.page-title {
  font-size: 5rem;
}

.page-title,
.page-version {
  text-align: center;
 
}

#container {
  /* margin: 0px auto 0px auto; */
  width: 920px;
  min-width: 920px;
  padding: 0px 0px 0px 0px;
  border: 30px solid transparent;
  height: 100%;
  border-image-source: url(../images/gui/gui-entire-border2.png);
  border-image-slice: 75 75;
  margin: 0px auto auto auto;
  background-color: var(--background);
}

#container-2 {
  margin: 0px auto auto auto;
  width: 920px;
  min-width: 920px;
  padding: 0px 0px 0px 0px;
  border: 30px solid transparent;
  height: 100%;
  border-image-source: url(../images/gui/gui-entire-border2.png);
  border-image-slice: 75 75;
}

/* add a class for submit buttons and <button> to change appearance with background image*/

input[name="alignment"],
input[name="selected-specialty"] {
  display: none;
  position: relative;
}

.alignment-label,
.class-label {
  padding: 0px 0px 0px 20px;
  display: inline-block;
}

.alignment-label::before,
.class-label::before {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  content: "";
  border: 10px solid transparent;
  left: -10px;
  top: 10px;
  border-image-source: url(../images/gui/gui-buttons-player-attack.png);
  border-image-slice: 10 10;
  background-color: rgb(205, 210, 245);
  cursor: url('../images/gui/cursor.png'), auto;
}

.alignment-label:hover::before,
.class-label:hover::before {
  background-color: var(--btn-hover);
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

.alignment-radio:checked+.alignment-label::before,
.class-radio:checked+.class-label::before {
  background-color: var(--primary-300);
}

input[type="submit"],
#submit-all-mage-spells,
#buy-items,
#generate-attributes,
#confirm-attributes,
#beginAdventure,
#submit-all-cleric-spells {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  padding: 15px;
  height: 70px;
  width: 210px;
  border: 0px solid var(--btn-bg);
  /* border: 20px solid transparent; */
  
  
  /* border-image-source: url(../images/gui/gui-buttons-player-attack.png);
  border-image-slice: 20 20; */
  /* background-color: rgb(205, 210, 245); */
  /* cursor: url('../images/gui/cursor-hover.png'), auto; */
}

input[type="submit"]:hover,
#submit-all-mage-spells:hover,
#submit-all-cleric-spells:hover,
#buy-items:hover,
#generate-attributes:hover,
#confirm-attributes:hover,
#beginAdventure:hover,
#normal-equipment-link:hover,
#magical-equipment-link:hover,
#spells-link:hover,
#treasure-link:hover {
  background-color: var(--btn-hover);
}

input[type="submit"]:active,
#submit-all-mage-spells:active,
#submit-all-cleric-spells:hover,
#buy-items:active,
#generate-attributes:active,
#confirm-attributes:active,
#beginAdventure:active,
#normal-equipment-link.active,
#magical-equipment-link.active,
#spells-link.active,
#treasure-link.active {
  background-color: var(--primary-300);
}

#dialogue {
  padding: 10px 0px 0px 0px;
  display: block;
  margin: auto;
  /* height: 100%;
  width: 100%; */
}

#normal-equipment-link,
#magical-equipment-link,
#spells-link,
#treasure-link {
  /* border: 20px solid transparent; */
  border-image-source: url(../images/gui/gui-buttons-player-attack.png);
  border-image-slice: 20 20;
  text-align: center;
  background-color: rgb(205, 210, 245);
  font-size: 22px;
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

input[type="text"] {
  font-size: 2rem;
  text-align: center;
  
  /* border: 10px solid transparent;
  border-image-source: url(../images/gui/gui-text-box.png);
  border-image-slice: 10 10; */
  /* padding: 15px; */
  height: 68px;
  width: 210px;
  border-radius: 10px;
  background-color: rgb(205, 210, 245);
  border: 0px solid var(--btn-bg);

}

button {
  font-size: 22px;
}

#player-sheet {
  margin: 0px;
  height: 500px;
}

.char-inventory-sheet {
  height: 450px;
}

#normal-equipment,
#magical-equipment,
#spells,
#treasure {
  height: 370px;
}

#map {
  margin: 0px;
  height: 500px;
}

legend {
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: auto;
  /* margin-left: calc(50% - 35px - 8px); */
  background-color: var(--accent-green-200);
  color: var(--primary)
}

.player-dashboard,
.saves-dashboard,
.statuses-dashboard {
  background-color: var(--accent-green-200);
}



fieldset {
  padding: 0px 0px 0px 0px;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #0F1842;
  /* height: 100%;
  width: 100%; */
}

#canvas2 {
  display: block;
  margin: 15% auto auto 10%;
  /* height: 300px;
  width: 240px; */
}

#character-info {
  background-image: url("../images/black-dragon2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 480px;
  display: grid;
  grid-auto-columns: 146px;
  grid-auto-rows: 170px 145px 145px;
  gap: 5px 8px;

  /* grid-template-areas: 
    "playerCanvas playerStats  playerStats      playerStats      playerStats       playerMenu"
    "playerData   playerData   playerAttributes playerAttributes playerSaves       playerSaves"
    "playerStatus playerStatus playerAttributes playerAttributes playerAfflictions playerAfflictions"; */
  /* grid-gap: 5px; */

  /* grid-template-columns: 2fr 1fr 1fr 2fr; */
  /* grid-template-areas:
    "playerData playerAttributes playerCanvas playerSaves"
    "playerData playerAttributes playerStatus playerSaves"; */

  /* height: 350px;   */
}

#character-info>div {
  /* padding: 10px 5px; */
}



#character-canvas {
  grid-area: 1/1/span 1/span 1;
  /* grid-area: playerCanvas; */
}


#character-hitpoints {
  grid-area: 1/ 2 / span 1 / span 4;
  /* grid-area: playerStats;   */
}

#character-menu {
  grid-area: 1/6/span 1/span 1;
  /* grid-area: playerMenu; */
}

#character-stats {
  grid-area: 2 / 1 /span 1 / span 2;
  /* grid-area: playerData; */
}





#character-attributes {
  grid-area: 2 / 3 / span 2 / span 2;
  /* grid-area: playerAttributes; */
}



#character-statuses {
  grid-area: 3 / 1 / span 1 / span 2;
  /* grid-area: playerStatus; */
}

#character-saving-throws {
  grid-area: 2 / 5 / span 1 / span 2;
  /* grid-area: playerSaves; */
}

#character-afflictions {
  grid-area: 3 / 5 / span 1 / span 2;
  /* grid-area: playerAfflictions; */
}

.char-info-module {
  padding-top: 0;
  /* height: 325px;
  width: 248px; */
  /* background-image: url('../images/gui/pixel-background-player-tag-2.png'); */
}

.char-info-label {
  padding: 0px 0px 0px 10px;

}

.char-info-module-attributes {

  display: grid;
  align-items: center;
  grid-auto-columns: auto;
  grid-auto-rows: auto;

  /* grid-template-areas:
    "topLeft     topRight   middleLeft"
    "middleRight bottomLeft bottomRight"; */
  /* grid-template-columns: repeat(3, auto); */
  /* grid-template-rows: 151px;
  grid-template-columns: 50px; */
  /* height: 325px;
  width: 100px; */
}

#char-strength {
  padding-top: 15px;
  padding-left: 30px;
  grid-area: 1 / 1 / span 1 / span 1;
}

#char-intelligence {
  padding-left: 30px;

  grid-area: 2 / 1 / span 1 /span 1;
}

#char-wisdom {
  padding-left: 30px;

  grid-area: 3 / 1 / span 1 / span 1;
}

#char-dexterity {
  padding-top: 15px;
  grid-area: 1 / 2 / span 1 / span 1;
  /* grid-area: middleRight; */
}

#char-constitution {
  grid-area: 2 / 2 / span 1 / span 1;
  /* grid-area: bottomLeft; */
}

#char-charisma {
  grid-area: 3 / 2 / span 1 / span 1;
  /* grid-area: bottomRight; */
}


.status-info-module-player {
  /* height: 146px;
  width: 100px; */
  padding: auto;
  display: grid;
  grid-template-columns: 33px 33px 33px;
  grid-template-rows: 34px 34px 34px 34px;
  gap: 1px;
  align-content: center;
  /* border: 3px solid rgb(130, 130, 168); */
}

.container-item {
  /* transform: scale(2); */
  /* margin: 5px 10px 10px 0px; */
  /* border: none;
  height: 100%;
  width: 100%; */
  /* image-rendering: pixelated; */
  /* border-radius: 10px; */
}

.status-image {
  image-rendering: pixelated;
  transform: scale(2);
}

.hide-status {
  visibility: hidden;
}

/*Magic user spell picker list*/

.saving-throws {
  padding: 0px 0px 0px 10px;
}

.mage-spell-container,
.cleric-spell-container {
  display: grid;
  grid: 575px / 350px 350px 350px;
}

#mage-first-level-spell-list,
#mage-second-level-spell-list,
#mage-third-level-spell-list {
  /* display: inline-block; */
  /* width: 350px;
  height: 550px; */
}

.canvas-info-module-monster {
  background-color: rgb(221, 221, 221);
}

.canvas-info-module-player {
  /* height: 152px;
  width: 103px; */

}

.saves-info-module-player {
  /* height: 325px;
  width: 250px; */
}

.afflictions-info-module-player {
  /* height: 325px;
  width: 250px; */
}

.saving-throw-score {
  float: right;
  text-align: right;
  width: 50px;
}



.canvas-dashboard {}

.monster-dashboard {
  background-color: rgb(255, 139, 139);
}

.area-attack,
.item-enchantment,
.attack-monster-one,
.attack-monster-two,
.spell2-monster-one,
.spell2-monster-two,
.spell1-heal {
  width: 200px;
  border-radius: 5px;
  background-color: rgb(193, 224, 193);
}

#monster-attack {
  width: 200px;
  border-radius: 5px;
  background-color: rgb(224, 193, 193);
}

#monster-attack:hover {
  background-color: rgb(248, 162, 162);
}

#monster-attack:active {
  background-color: rgb(255, 105, 105);
}

#monster-info {
  display: flex;
  flex-direction: row;
  height: 225px;
}

.minimized {
  display: none;
  height: 0px;
  width: 0px;
}

.monster-info-module {
  height: 200px;
  width: 200px;
}

h4 {
  margin: 0px 10px 0px 0px;
}

.no-spell {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
  cursor: not-allowed;
  pointer-events: none;
  color: darkgray;
}

.monster1-dead {
  /* display: none; */
  background-color: grey;
  color: darkgray;
  width: 200px;
  border-radius: 5px;
  cursor: not-allowed;
  pointer-events: none;
}

.spell1-heal-used {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.pauseThreeFive {
  background-color: grey;
  border-radius: 5px;
}

input.dragonwarrior {
  opacity: 0;
}

span#dragonwarrior {
  color: white;
}

.button-border {
  width: 198px;
  display: inline-block;
  margin: 5px 2px 5px 2px;
  border: 1px solid transparent;
  padding: 2px 2px 2px 2px;
  border-radius: 3px;
  background-color: transparent;
}

.hidden {
  visibility: hidden;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(193, 224, 193);
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  outline: none;
  cursor: url('../images/gui/cursor-hover.png'), auto;
  /* cursor: url('../images/gui/cursor.png'), auto; */
  transition: 0.3s;
  margin: 0px 0px 0px 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(11, 110, 64);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--primary-300);
}

/* Style the tab content */
.tabContent {
  padding: 6px 12px;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
}

.tabContent-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.spells-container {
  /* background-color: bisque; */
}

#normal-equipment-list {
  height: 100%;
}

.armor-tooltip,
.weapon-tooltip {
  position: relative;
  display: inline;
  float: right;
}

.armor-tooltip>.character-display-info,
.weapon-tooltip>.character-display-info {
  cursor: url('../images/gui/cursor-hover.png'), auto;

}

.spell-tooltip {
  position: relative;
}

.item-tooltip {
  margin: 0px;
  position: relative;
}

.supply-item-tooltip {
  margin: 0px;
  position: relative;
  height: 20px;
  width: 250px;
  display: block;
}

.html-spell-tooltip {
  position: relative;
  width: 325px;
  margin: 0px;
}

.armor-tooltiptext,
.weapon-tooltiptext,
.item-tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
}

.supply-item-tooltiptext {
  visibility: hidden;
  height: 100px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -2.7em;
  left: 50%;
}

.spell-tooltiptext {
  visibility: hidden;
  height: 110px;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -2.7em;
  left: 50%;
  /* overflow: scroll; */
}

.html-spell-tooltiptext {
  visibility: hidden;
  height: 100px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -2.7em;
  left: 50%;
  /* overflow: auto; */
}

.armor-tooltip .armor-tooltiptext::after,
.weapon-tooltip .weapon-tooltiptext::after,
.spell-tooltip .spell-tooltiptext::after,
.item-tooltip .item-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.supply-item-tooltip .supply-item-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.html-spell-tooltip .html-spell-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.armor-tooltip:hover,
.weapon-tooltip:hover,
.spell-tooltip:hover,
.item-tooltip:hover,
.supply-item-tooltip:hover {
  color: white;
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

.armor-tooltip:hover .armor-tooltiptext,
.weapon-tooltip:hover .weapon-tooltiptext,
.spell-tooltip:hover .spell-tooltiptext,
.item-tooltip:hover .item-tooltiptext,
.supply-item-tooltip:hover .supply-item-tooltiptext {
  visibility: visible;
}

.html-spell-tooltip:hover .html-spell-tooltiptext {
  visibility: visible;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.ability-score-grid-container {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.ability-score-number-grid-item {
  text-align: center;
  /* border: 1px solid black; */
  width: 50%;
}

.ability-score-adjustment-grid-item {
  text-align: center;
}

.no-display {
  display: none;
}

#alignment-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  height: 200px;
}

.alignment-item {
  border: 1px solid rgb(130, 130, 168);
  border-radius: 5px;
  padding: 20px;
  margin: auto 0px auto 0px;
  height: 175px;
  text-align: justify;
}

.alignment-container-item {
  /* margin: 5px 10px 13px 10px; */
  padding: 0px 10px 10px 10px;
}

#alignment-description-container {
  grid-column: 2 / 5;
}

.character-display-info {
  float: right;
}

.character-hp-bar {
  float: right;
}

.hp-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.hitpoints-guage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
}


.ac-guage,
.xp-guage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  padding-top: 10px;
}

.hitpoints-guage>svg,
.ac-guage>svg,
.xp-guage>svg {
  margin-top: 5px;
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.circle-hitpoints {
  cx: 50%;
  cy: 50%;
  r: 65px;
  fill: none;
  stroke: #FEEB78;
  stroke-linecap: round;
  stroke-width: 15px;
  position: relative;
  /*295 is full*/
  stroke-dasharray: 410;
  stroke-dashoffset: 90;
  /* 
  stroke-dasharray: var(--strokeDashArray);
  stroke-dashoffset: var(--strokeDashOffset);  */
  transform: rotate(130deg);
  transform-origin: center;
}

.circle-hitpoints-background {
  cx: 50%;
  cy: 50%;
  r: 65px;
  fill: none;
  stroke-linecap: round;
  stroke: #BF8200;
  stroke-width: 15px;
  position: relative;
  stroke-dasharray: 410;
  stroke-dashoffset: 90;
  transform: rotate(130deg);
  transform-origin: center;
}


.ac-guage-value,
.xp-guage-value-current {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  font-size: 50px;
  color: white;
  /* position: absolute; */
  /* left: 480px;
  top: 110px; */
  text-align: center;
  align-self: center;
  padding-bottom: 15px;
}

.hitpoint-guage-value-current {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  font-size: 50px;
  color: white;
  /* position: absolute; */
  /* left: 480px;
  top: 110px; */
  text-align: center;
  align-self: center;
  padding-bottom: 5px;
}

.hitpoint-guage-value-total {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  font-size: 30px;
  color: -var(--text);
  /* position: absolute; */
  /* left: 485px;
  top: 150px; */
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 10px;
}


.ac-guage-text,
.xp-guage-value-total {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  font-size: 30px;
  color: -var(--text);
  /* position: absolute; */
  /* left: 485px;
  top: 150px; */
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 20px;
}

.circle-ac {
  cx: 50%;
  cy: 50%;
  r: 50px;
  fill: none;
  stroke: #787DE1;
  stroke-linecap: round;
  stroke-width: 15px;
  position: relative;
  stroke-dasharray: 240;
  stroke-dashoffset: 0;
  transform: rotate(var(--imageRotate));
  transform-origin: center;
}

.circle-xp {
  cx: 50%;
  cy: 50%;
  r: 50px;
  fill: none;
  stroke: #C8B8DB;
  stroke-linecap: round;
  stroke-width: 15px;
  position: relative;
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  transform: rotate(var(--imageRotate));
  transform-origin: center;
}

.circle-xp-background {
  cx: 50%;
  cy: 50%;
  r: 50px;
  fill: none;
  stroke-linecap: round;
  stroke: #912F56;
  stroke-width: 15px;
  position: relative;
  stroke-dasharray: 240;
  stroke-dashoffset: 0;
  transform: rotate(var(--imageRotate));
  transform-origin: center;
}

#char-strength,
#char-intelligence,
#char-wisdom,
#char-dexterity,
#char-constitution,
#char-charisma {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 10px 10px 10px;
  align-items: center;
  justify-content: center;
}

.character-display-attributes-str,
.character-display-attributes-int,
.character-display-attributes-wis,
.character-display-attributes-dex,
.character-display-attributes-con,
.character-display-attributes-cha {
  /* flex: auto; */
  grid-column: 1;
  grid-row: 3;
  width: 100px;
  position: relative;
  left: 38px;
  top: 0px;
  /* font-size: 20px; */
}

.character-display-attributes-scores-str,
.character-display-attributes-scores-int,
.character-display-attributes-scores-wis,
.character-display-attributes-scores-dex,
.character-display-attributes-scores-con,
.character-display-attributes-scores-cha {
  /* display: inline-block; */
  /* flex: auto; */
  grid-column: 1;
  grid-row: 2;
  width: 70px;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  left: 30px;
  top: -21px;
}

.character-display-attributes-scores-adj-str,
.character-display-attributes-scores-adj-int,
.character-display-attributes-scores-adj-wis,
.character-display-attributes-scores-adj-dex,
.character-display-attributes-scores-adj-con,
.character-display-attributes-scores-adj-cha {
  /* display: inline-block; */
  /* flex: auto; */
  grid-column: 1;
  grid-row: 4;
  width: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  position: relative;
  left: 55px;
  top: -35px;
}

.circle-str,
.circle-int,
.circle-wis,
.circle-dex,
.circle-cha,
.circle-con {
  stroke: var(--accent-orange);
  stroke-linecap: round;
  /* stroke: url(#gradientColor-dex); */
  /* stroke-dasharray: 150; */
}

.circle-str,
.circle-int,
.circle-wis,
.circle-dex,
.circle-con,
.circle-cha {
  fill: none;
  /* stroke: url(#gradientColor); */
  stroke-width: 10px;
  position: relative;
  stroke-dasharray: 150;
  /* stroke-dashoffset: 0; */
  transform: rotate(-230deg);
  transform-origin: center;
}


.circle-str-background,
.circle-int-background,
.circle-wis-background,
.circle-dex-background,
.circle-con-background,
.circle-cha-background {

  stroke: var(--accent-200);
  stroke-linecap: round;
  fill: none;
  /* stroke: url(#gradientColor); */
  stroke-width: 10px;
  position: absolute;
  display: inline;
  text-align: center;

  stroke-dasharray: 150;
  stroke-dashoffset: 5;
  transform: rotate(-230deg);
  transform-origin: center;
}

#hp-prog-bar {
  width: 70px;
}

.hide-cleric-container {
  display: none;
}

.hide-mage-container {
  display: none;
}

.hide-inventory-container {
  display: none;
}

.show-inventory-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 5, 50);
  z-index: 1;
  padding: 1% 30% 30%;
}

.show-mage-spells {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 5, 50);
  z-index: 1;
  padding: 10% 30% 30%;
}

.show-cleric-spells {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 2000px;
  width: 2000px;
  background-color: rgb(0, 5, 50);
  z-index: 1;
  padding: 10% 30% 30%;
}

.grey-out {
  color: darkGrey;
  cursor: not-allowed;
  pointer-events: none;
}

.not-visible {
  display: none;
}

#spells-level-1,
#spells-level-2,
#spells-level-3 {
  display: grid;
  grid-template-rows: auto auto auto;
}

input.mage-spells {
  height: 20px;
  width: 30px;
}



.inventory-input-container {
  display: grid;
  grid-template-columns: 100px 500px;
  /* column-gap: 10px; */
}

.quantity {
  display: block;
  height: 0.9em;
  margin: 4px 0px 0px 0px;
  /* width: 50px; */
}

.inventory-list-item {
  display: block;
  height: 1em;
  margin: 10px 0px 0px 0px;
}

.quantity-increase {
  width: 2em;
  height: 1.2em;
  text-align: center;
  margin: auto 5px auto auto;
}

.quantity-decrease {
  width: 2em;
  height: 1.2em;
  text-align: center;
  margin: auto;
}

.current-item-qty {
  background-color: white;
  display: block;
  height: 1em;
  margin: 10px 0px 0px 0px;
}

.input-list {
  list-style-type: none;
}

.char-treasure {
  display: inline-block;
  width: 75px;
}

#char-gp {}

.spell-button-tooltip {}

.spell-button-tooltip::after {}

ul.dropdown-spell-list-ul {
  position: absolute;
  list-style: none;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
}

.hide-spell-list-dropdown {
  display: none;
}


li.first-level-dropdown-list,
li.second-level-dropdown-list,
li.third-level-dropdown-list {
  display: none;
  height: 20px;
}


li.show-spell-list-dropdown {
  display: block;
}

li.monster-one-spell-list,
li.monster-two-spell-list,
li.self-spell-list {
  display: none;
  position: relative;
  top: -20px;
  left: 143px;
  background-color: white;
  border: 1px solid black;
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

ul.spell-list {
  display: none;
  position: relative;
  top: -25px;
  left: 200px;
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 250px;
  padding: 0px 0px 0px 5px;

}

ul.spell-list:hover {
  background-color: lightblue;

}

li.first-level-dropdown-list b:hover,
li.second-level-dropdown-list b:hover,
li.third-level-dropdown-list b:hover {
  background-color: lightblue;

}

li.first-level-dropdown-list:hover,
li.second-level-dropdown-list:hover,
li.third-level-dropdown-list:hover {
  background-color: lightblue;
  height: 20px;
}

li.first-level-dropdown-list:hover ul.spell-list,
li.second-level-dropdown-list:hover ul.spell-list,
li.third-level-dropdown-list:hover ul.spell-list {
  display: block;
}

ul.spell-list:hover li.monster-one-spell-list,
ul.spell-list:hover li.monster-two-spell-list,
ul.spell-list:hover li.self-spell-list {
  display: block;
}

li.monster-one-spell-list:hover,
li.monster-two-spell-list:hover,
li.self-spell-list:hover {
  background-color: lightblue;
}

li.monster-one-spell-list.monster1-spell-dead:hover {
  background-color: grey;
  pointer-events: none;
  /* cursor: not-allowed; */
}

li.monster-two-spell-list.monster2-spell-dead:hover {
  background-color: grey;
  cursor: not-allowed;
}

li.monster-one-spell-list.monster1-spell-dead:active,
li.monster-two-spell-list.monster2-spell-dead:active {
  pointer-events: none;
}

.show-spell-list-dropdown>b {
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

.spell-list>span {
  cursor: url('../images/gui/cursor-hover.png'), auto;
}

#phantasmalForce.phantasmalForce-hide {
  display: none;
}

#phantasmalForce {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 2000px;
  width: 2000px;
  background-color: rgb(0, 5, 50);
  z-index: 1;
  padding: 10% 30% 30%;
}