* {
  font-family: "Corbel";
}

body {
  width: 700px;
}

legend {
  border: 1px solid black;
  border-radius: 5px;
}

.player-dashboard {
  background-color: rgb(160, 219, 255);
}

fieldset {
  border-radius: 5px;
}

#character-info {
  background-image: url("../images/black-dragon.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -100px;
  display: flex;
  flex-direction: row;
  height: 225px;
}

.char-info-module {
  height: 210px;
  width: 200px;
}

.canvas-info-module {
  height: 210px;
  width: 200px;
  background-color: rgb(155, 155, 155);
}

.canvas-dashboard {
  background-color: rgb(139, 226, 138);
}

.monster-dashboard {
  background-color: rgb(255, 139, 139);
}

.area-attack,
.item-enchantment,
.attack-monster-one,
.attack-monster-two,
.spell2-monster-one,
.spell2-monster-two,
.spell1-heal {
  width: 200px;
  border-radius: 5px;
  background-color: rgb(193, 224, 193);
}

#monster-attack {
  width: 200px;
  border-radius: 5px;
  background-color: rgb(224, 193, 193);
}

#monster-info {
  display: flex;
  flex-direction: row;
  height: 225px;
}

.monster-info-module {
  height: 200px;
  width: 200px;
}

h4 {
  margin: 0px 10px 0px 0px;
}

.no-spell {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.monster1-dead {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.spell1-heal-used {
  /* display: none; */
  background-color: grey;
  width: 200px;
  border-radius: 5px;
}

.pauseThreeFive {
  background-color: grey;
  border-radius: 5px;
}

input.dragonwarrior {
  opacity: 0;
}

span#dragonwarrior {
  color: white;
}

.button-border {
  width: 202px;
  display: inline-block;
  margin: 2px 2px 2px 2px;
  border: 1px solid black;
  padding: 2px 2px 4px 2px;
  border-radius: 3px;
  background-color: gray;
}

.hidden {
  visibility: hidden;
}
